@import "o-buttons/main";
@import "o-colors/main";
@import "o-typography/main";
@import "o-share/main";
@include oShareBase(invite-colleagues);
@include oShareActionIcon(facebook, invite-colleagues);
@include oShareActionIcon(linkedin, invite-colleagues);
@include oShareActionIcon(mail, invite-colleagues);

.invite-colleagues__outer {
	background: getColor('wheat');
	text-align: center;
}

.invite-colleagues__inner {
	@include oTypographySans($scale: 3);
	padding: 24px 0 12px;

	@include oGridRespondTo(L) {
		padding: 24px 74px 12px;
	}
}

.invite-colleagues__inner--strong {
	@include oTypographySansBold($scale: 3);
}

.invite-colleagues__copy-outer {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	@include oGridRespondTo(M) {
		flex-wrap: nowrap;
		flex-grow: 0;
	}

	&.copy-success {

		.invite-colleagues__copy-input {
			&::after {
				@include oIconsGetIcon('tick', getColor('jade'), 24);
				color: getColor('jade');
				width: auto;
				height: 35px;
				line-height: 35px;
				background-position: 0 50%;
				background-color: getColor('white');
				display: block;
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translateY(-50%);
				padding-left: 30px;

				@include oGridRespondTo(S) {
					content: 'Copied';
				}
			}
		}

		.invite-colleagues__copy-link {
			border-color: getColor('jade');
		}
	}

	&.copy-fail {

		.invite-colleagues__copy-input {
			&::after {
				@include oIconsGetIcon('cross', getColor('crimson'), 24);
				color: getColor('crimson');
				width: auto;
				height: 35px;
				background-position: 0 50%;
				display: block;

				@include oGridRespondTo(S) {
					content: 'Copy failed';
				}
			}
		}

		.invite-colleagues__copy-link {
			border-color: getColor('crimson');
		}
	}
}


.invite-colleagues__copy-input {
	display: flex;
	flex-grow: 1;
	position: relative;
}

.invite-colleagues__copy-link {
	@include oTypographySans($scale: 0);
	position: relative;
	color: getColor('black-30');
	background: getColor('white');
	border: 1px solid;
	margin: 12px 0;
	min-height: 40px;
	min-width: 200px;
	padding-left: 8px;
	text-align: center;
	flex-grow: 2;

	@include oGridRespondTo(S) {
		text-align: left;
	}

	@include oGridRespondTo(L) {
		width: 100%;
	}



	&.invite-colleagues__copy-input--fail {
		border-color: getColor('crimson');
	}

}

.invite-colleagues__copy-link-button {
	@include oButtons($size: big, $theme: primary);
	flex-grow: 1;
	margin: 0 0 12px;

	@include oGridRespondTo(S) {
		margin: 12px 0;
	}

	@include oGridRespondTo(S, L) {
		flex-grow: 0;
	}
}

.invite-colleagues__share {
	@include oTypographySans($scale: 0);
	display: flex;
	justify-content: center;
	margin: 12px 0 24px;
}

.invite-colleagues__share-text {
	padding: 10px 12px 10px 0;
}
