<div class="invite-colleagues__share">
	{{#if showAdditionalShareCopy}}
	<div class="invite-colleagues__share-text">or share</div>
	{{/if}}
	<div data-o-component="o-share" class="invite-colleagues o-share">
		<ul>
			<li class="o-share__action">
				<a class="o-share__icon o-share__icon--linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/shareArticle?mini=true&url=try.ft.com/{{shortName}}&source=Financial+Times&amp;title={{#if longName}}Join%20the%20FT%20trial%20for%20{{encode longName mode='uriComponent'}}{{else}}Join%20your%20colleagues%20in%20a%20free%20FT%20trial{{/if}}&amp;text=Get%20full%20Premium%20Digital%20access%20to%20the%20FT%E2%80%99s%20expert%20analysis%20and%20commentary.%20Stay%20as%20informed%20as%20your%20colleagues%20and%20join%20the%20trial%20today.&amp;via=FT"
				data-trackable="linkedin">
					<span class="o-share__text">Share on LinkedIn (opens new window)</span>
				</a>
			</li>
			<li class="o-share__action">
				<a class="o-share__icon o-share__icon--facebook" target="_blank" rel="noopener" href="https://www.facebook.com/sharer.php?u=try.ft.com/{{shortName}}" data-trackable="facebook">
					<span class="o-share__text">Share on Facebook (opens new window)</span>
				</a>
			</li>
			<li class="o-share__action">
				<a class="o-share__icon o-share__icon--mail" data-trackable="email" href="mailto:?subject={{#if longName}}Join%20the%20FT%20trial%20for%20{{ encode longName mode='uriComponent'}}{{else}}Join%20your%20colleagues%20in%20a%20free%20FT%20trial{{/if}}&body={{#if longName}}{{ encode longName mode='uriComponent'}}%20is%20providing%20its%20employees%20with%20a%20free%20Premium%20trial%20for%20the%20Financial%20Times.{{else}}Join%20your%20colleagues%20in%20a%20free%20FT%20trial.{{/if}}%0D%0A%0D%0AStay%20as%20informed%20as%20your%20colleagues%20and%20join%20the%20trial%20today.%0D%0A%0D%0Ahttp%3A%2F%2Ftry.ft.com%2F{{shortName}}%0D%0A%0D%0AYou%20can%20share%20this%20link%20with%20anyone%20in%20your%20company%2C%20so%20they%20can%20get%20access%20too.%0D%0A%0D%0AYou%20must%20have%20an%20organisation%20email%20address%20to%20take%20part.">
					<span class="o-share__text">Mail</span>
				</a>
			</li>
		</ul>
	</div>
</div>
