<div class="o-banner o-banner--marketing-secondary" data-o-component="o-banner">
	<div class="o-banner__outer">
		<div class="o-banner__inner invite-colleagues-banner" data-o-banner-inner="">
			<div class="o-banner__content invite-colleagues-banner__intro">
				<span class="invite-colleagues__inner--strong">Share the FT</span> - Invite your colleagues to try FT.com by sharing a free group trial
			</div>
			<div class="o-banner__content invite-colleagues-banner__copy">
				{{> templates/partials/invite-colleagues-copy }}
			</div>
			<div class="o-banner__content invite-colleagues-banner__share">
				{{> templates/partials/invite-colleagues-share }}
			</div>
		</div>
	</div>
</div>
