<div class="invite-colleagues__outer" data-trackable="invite-colleagues">
	<div data-o-grid-colspan="10 center">
		<div class="o-grid-row">
			<div data-o-grid-colspan="10 M8 XL6 center">
				<div class="invite-colleagues__inner">
					<span class="invite-colleagues__inner--strong">Invite your colleagues</span>
					to join you in a free trial of the <span class="invite-colleagues--no-wrap">Financial Times</span> with this link:
				</div>
			</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="10 M8 L6 center">
				{{> templates/partials/invite-colleagues-copy}}
			</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="10 M8 XL6 center">
				{{> templates/partials/invite-colleagues-share showAdditionalShareCopy=true}}
			</div>
		</div>
	</div>
</div>
