<div class="invite-colleagues__outer" data-trackable="invite-colleagues">
	<div data-o-grid-colspan="10 center">
		<div class="o-grid-row">
			<div data-o-grid-colspan="10 M8 XL6 center">
				<div class="invite-colleagues__inner">
					<span class="invite-colleagues__inner--strong">Invite your colleagues</span>
					to join you in a free trial of the <span class="invite-colleagues--no-wrap">Financial Times</span> with this link:
				</div>
			</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="10 M8 L6 center">
				<div class="invite-colleagues__copy-outer">
					<div class="invite-colleagues__copy-input">
						<input type="text" class="invite-colleagues__copy-link" value="https://try.ft.com/{{shortName}}" readonly="">
					</div>
					<span class="invite-colleagues__copy-text">Copy link and share</span>
					<button href="" class="invite-colleagues__copy-link-button" data-trackable="copy-link">Copy link and share</button>
				</div>
			</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="10 M8 XL6 center">
				<div class="invite-colleagues__share">
					<div class="invite-colleagues__share-text">or share</div>
					<div data-o-component="o-share" class="invite-colleagues">
						<ul>
							<li class="invite-colleagues__action invite-colleagues__action--linkedin">
								<a class="invite-colleagues__action--icon" target="_blank" rel="noopener" href="https://www.linkedin.com/shareArticle?mini=true&url=try.ft.com/{{shortName}}&source=Financial+Times&amp;title={{#if isMarketingCampaign}}Join%20your%20colleagues%20in%20a%20free%20FT%20trial{{else}}Join%20the%20FT%20trial%20for%20{{longName}}{{/if}}&amp;text=Get%20full%20Premium%20Digital%20access%20to%20the%20FT%E2%80%99s%20expert%20analysis%20and%20commentary.%20Stay%20as%20informed%20as%20your%20colleagues%20and%20join%20the%20trial%20today.&amp;via=FT" data-trackable="linkedin"><i>Share on LinkedIn (opens new window)</i></a>
							</li>
							<li class="invite-colleagues__action invite-colleagues__action--facebook">
								<a class="invite-colleagues__action--icon" target="_blank" rel="noopener" href="https://www.facebook.com/sharer.php?u=try.ft.com/{{shortName}}" data-trackable="facebook"><i>Share on Facebook (opens new window)</i></a>
							</li>
							<li class="invite-colleagues__action invite-colleagues__action--mail">
								<a class="invite-colleagues__action--icon" data-trackable="email" href="mailto:?subject={{#if isMarketingCampaign}} Join your colleagues in a free FT trial {{else}} Join the FT trial for {{longName}}{{/if}}&body={{#if isMarketingCampaign}} Join your colleagues in a free FT trial.{{else}}{{longName}} is providing its employees with a free Premium trial for the Financial Times.{{/if}}%0D%0A%0D%0A Stay as informed as your colleagues and join the trial today.%0D%0A%0D%0A http://try.ft.com/{{shortName}}%0D%0A%0D%0A You can share this link with anyone in your company, so they can get access too.%0D%0A%0D%0A You must have an organisation email address to take part.">
									<i>Email</i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
