<div class="invite-colleagues__outer">
	<div class="o-grid-row">
		<!-- <div data-o-grid-colspan="3"></div> -->
		<div data-o-grid-colspan="10 M8 XL6 center">
			<div class="invite-colleagues__inner">
				<span class="invite-colleagues__inner--strong">Invite your colleagues</span>
				to join you in a free trial of the Financial Times with this link:
			</div>
		</div>
	</div>
	<div class="o-grid-row">
		<div data-o-grid-colspan="10 M8 XL6 center">
			<div class="invite-colleagues__copy-outer">
				<input type="text" class="invite-colleagues__copy-link" value="try.ft.com/{{shortName}}" readonly="">
				<button href="" class="invite-colleagues__copy-link-button">Copy link and share</button>
			</div>
			<div class="invite-colleagues__share">
				or share
				<div data-o-component="o-share" class="component-share o-share" data-trackable="component-share">
					<ul>
						<li class="component-share__action o-share__action o-share__action--linkedin">
							<a class="component-share__action--icon" target="_blank" rel="noopener" href="https://www.linkedin.com/shareArticle?mini=true&amp;urltry.ft.com/{{shortName}}&amp;text=join {{longName}}'s free trial of the Financial Times&amp;via=FT" data-trackable="twitter"><i>Share on Twitter (opens new window)</i></a>
						</li>
						<li class="component-share__action o-share__action o-share__action--facebook">
							<a class="component-share__action--icon" target="_blank" rel="noopener" href="http://www.facebook.com/sharer.php?u=try.ft.com/{{shortName}}&amp;t=join {{longName}}'s free trial of the Financial Times" data-trackable="facebook"><i>Share on Facebook (opens new window)</i></a>
						</li>
						<li class="component-share__action o-share__action o-share__action--mail">
							<button class="component-share__action o-share__action o-share__action--mail">
								<i>Email</i>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <div data-o-grid-colspan="3"></div> -->
	</div>
</div>
